<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.mapper.MenuMapper">

    <select id="getMenuListByUserId" resultType="com.boot.entity.Menu">
        SELECT
            DISTINCT sm.id,sm.parent_id,sm.menu_name,sm.path,sm.component,sm.visible,sm.type,sm.icon,sm.sort
        FROM
            sys_user_role AS sur
                LEFT JOIN sys_role AS sr ON sr.id=sur.role_id
                LEFT JOIN sys_role_menu AS srm ON srm.role_id=sur.role_id
                LEFT JOIN sys_menu AS sm ON sm.id=srm.menu_id
        WHERE
            sur.user_id=#{userid}
          AND
            sr.status=0
          AND
            sm.status=0
          AND sm.type != 2;
    </select>
    <select id="getUserPermissionByUserId" resultType="java.lang.String">
        SELECT
            DISTINCT sm.perms
        FROM
            sys_user_role AS sur
                LEFT JOIN sys_role AS sr ON sr.id=sur.role_id
                LEFT JOIN sys_role_menu AS srm ON srm.role_id=sur.role_id
                LEFT JOIN sys_menu AS sm ON sm.id=srm.menu_id
        WHERE
            sur.user_id=#{userid}
          AND
            sr.status=0
          AND
            sm.status=0
          AND sm.type != 0;

    </select>
    <select id="getAllMenuPermission" resultType="com.boot.entity.Menu">
        SELECT
            DISTINCT sm.id,sm.parent_id,sm.menu_name,sm.path,sm.component,sm.visible,sm.type,sm.icon,sm.sort,sm.perms
        FROM
            sys_user_role AS sur
                LEFT JOIN sys_role AS sr ON sr.id=sur.role_id
                LEFT JOIN sys_role_menu AS srm ON srm.role_id=sur.role_id
                LEFT JOIN sys_menu AS sm ON sm.id=srm.menu_id
        WHERE
            sr.status=0
          AND
            sm.status=0
          ORDER BY sm.sort
    </select>

    <select id="getAssignMenuTreePermission" resultType="com.boot.entity.Menu">
        SELECT DISTINCT sm.id, sm.parent_id, sm.menu_name, sm.visible,sm.type,sm.sort
        FROM sys_user_role AS sur
                 LEFT JOIN sys_role AS sr ON sr.id = sur.role_id
                 LEFT JOIN sys_role_menu AS srm ON srm.role_id = sur.role_id
                 LEFT JOIN sys_menu AS sm ON sm.id = srm.menu_id
        WHERE sr.status = 0
          AND sm.status = 0
          AND sm.visible = 0
        ORDER BY sm.sort
    </select>
    <resultMap id="res1" type="com.boot.entity.Menu">
        <result property="id" column="menu_id"/>
    </resultMap>
    <select id="selectRoleCheckedMenuByRoleId" resultMap="res1">
        SELECT DISTINCT menu_id
        FROM sys_role_menu
        WHERE role_id = #{roleid}
    </select>
    <select id="onlySelectDirectory" resultType="com.boot.entity.Menu">
        SELECT *
        FROM sys_menu
        WHERE type = 0
          AND status = 0
          AND visible = 0
          AND del_flag = 0
        ORDER BY sort
    </select>
    <select id="onlySelectMenu" resultType="com.boot.entity.Menu">
        SELECT *
        FROM sys_menu
        WHERE type = 1
          AND status = 0
          AND visible = 0
          AND del_flag = 0
        ORDER BY sort
    </select>
    <select id="selectMenuNameByMenuId" resultType="java.lang.String">
        SELECT menu_name
        FROM sys_menu
        WHERE id = #{menuid}
          AND status = 0
          AND visible = 0;
    </select>


</mapper>




