<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.mapper.RoleMapper">


    <!--   这种增强版的分页sql的子查询一定要加上ORDER BY id，不然数据会不一致 -->
    <select id="selectAllRoleByLimit" resultType="com.boot.entity.Role">
        SELECT *
        FROM sys_role
        WHERE id >= (select id from sys_role ORDER BY id limit #{page},1)
          AND del_flag = 0
        limit #{size}
    </select>
    <select id="selectAllRoleCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_role
        WHERE del_flag=0
    </select>
    <select id="selectAllRole" resultType="com.boot.entity.Role">
        SELECT *
        FROM sys_role
        WHERE del_flag = 0
        AND status=0
    </select>
    <resultMap id="res1" type="com.boot.entity.Role">
        <association property="id" column="role_id"/>
    </resultMap>
    <select id="selectUserCheckedRoleByUserId" resultMap="res1">
        SELECT DISTINCT role_id
        from sys_user_role
        WHERE user_id = #{userid}
    </select>

</mapper>